<div class=  "container heda">
  <h2>Ask Reasonable Questions And Get Very Conservative Answers</h2>
  <p>A Very Serious Site For People Who Apparently Take Themselves Very Seriously</p>
  {{outlet}}
</div>
