


<img src="http://www.teapartytribune.com/wp-content/uploads/2014/04/Republican-Party-Surges-in-Polls-e1398233349530.jpg" alt="republican" />

<br><br>

{{#link-to 'questions' class="btn btn-danger"}}Join The Revolution To Stay The Same{{/link-to}}

<br><br><br><br><br><br>



<legend><h4>What Are People Saying About Us</h4></legend>
<strong><p>"Your Time Machine back to 1940 awaits" -Forbes Magazine</p></strong>
<strong><p>"If planned parenthood isn't defunded I'm going to shutdown this computer" -Ted Cruz</p></strong>
<strong><p>"Blip-Blop Scribbly Do Racket Tobahgan Jumbalaya Snarf!" -Rush Limbaugh</p></strong>
<strong><p>"I can't believe I'm not in jail" -Dick Cheney</p></strong>
